.image-button {
  width: 86px;
  height: 86px;
  background-color: transparent;
  border-style: none;
  outline: none;
  margin-right: 14px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail-image {
  width: 86px;
  height: 86px;
}
